<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='index.css'>
    <script src='../index.js'></script>
</head>
<body>
    <div class="form" >
        <form action="../index.js" method="post">
            <label for="name">Name</label><br>
            <input type="text" name="name" id="name"><br>
            <label for="price">Price</label><br>
            <input type="text" name="price" id="price"><br>
            <label for="quantity">Quantity</label><br>
            <input type="text" name="quantity" id="quantity"><br>
            <button type="button">Submit</button>
        </form>
    </div>
</body>
</html>