<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Microservice</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='index.css'>
</head>
<body>
    <div id="welcome"></div>
    <ul id="meos-list"></ul>
    <form method="post">
        <input type="text" id="meo" placeholder="meo">
        <input type="text" id="price" placeholder="price">
        <input type="text" id="quantity" placeholder="quantity">
        <button type="submit">Add meo</button>
    </form>
    <script src='../index.js'></script>

</body>
</html>