<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Microservice</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <div class="welcome">
        <script src='../index.js'></script>
    </div>
    <div class="form">
        <form action="../index.js" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="price">Price</label>
            <input type="text" name="price" id="price"><br><br>
            <label for="quantity">Quantity</label>
            <input type="text" name="quantity" id="quantity"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>